[submodule "Megatron-LM"]
	path = Megatron-LM
	url = https://github.com/NVIDIA/Megatron-LM
[submodule "apex"]
	path = apex
	url = https://github.com/NVIDIA/apex
[submodule "TransformerEngine"]
	path = TransformerEngine
	url = https://github.com/NVIDIA/TransformerEngine.git
	branch = release_v1.11
